<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag :base, :rouge_theme %>
    <%= javascript_include_tag :all %>
  </head>
  <body class="<%= page_classes %>">
    <div id="page">
      <div id="header" class="site-header">
        <div class="wrap">
          <div id="branding" role="banner">
            <h1 class="site-title"><a class="site-title--link" href="/">Site Title</a></h1>
          </div><!-- #branding banner -->
        </div><!-- .wrap -->
      </div><!-- #header .site-header -->

      <div id="main">
        <div class="wrap">
          <div id="primary">
            <div id="content" role="main">
              <%= yield %>
            </div><!-- #content main -->
          </div><!-- #primary -->

        </div><!-- .wrap -->
      </div><!-- #main -->
    </div><!-- #page -->
  </body>
</html>
